{# templates/bundles/TwigBundle/Exception/error403.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <h1>Access Denied!</h1>
    <p>You do not have permission to access this page.</p>
    <a href="{{ path('app_micro_post') }}">Return to homepage</a>
{% endblock %}
