{% extends 'base.html.twig' %}

{% block body %}   
    <div>
    {% if messages|length > 0 %}
        {% for key, message in messages|slice(0, limit) %}
            <a href={{ path('app_show_one', {id: key})}}>{{ message.message }}</a>
            {{ include('hello/_message_date.html.twig', {message: message})}}
        {% endfor %}
    
    {% else %}
        <div>There is nothing here yet!</div>
    {% endif %}
    
    </div>
{% endblock %}
